<!DOCTYPE html>
<html lang="en">
<head>
	<title> Topica | A friendly forum for dropping knowledge </title>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
<header>
	<object id ="brand-logo"type="image/svg+xml" data="/assets/topica_logo.svg">Your browser does not support SVG</object>
</header>


	<%- body %>


</body>
</html>