<!DOCTYPE html>
<html lang="en">
<head>
	<title> Topica | A friendly forum for dropping knowledge </title>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/png" href="/assets/topica_favicon.png"/>
</head>
<body>
<header>
	<object id ="brand-logo"type="image/svg+xml" data="/assets/topica_logo.svg">Your browser does not support SVG</object>
</header>


	<%- body %>


</body>
</html>