<!DOCTYPE html>
<html lang="en">
<head>
	<title> Topica | A friendly forum for dropping knowledge </title>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<link rel="shortcut icon" type="image/png" href="/assets/topica_favicon.png"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
	<a href='/'><img id='brand-logo' src="/assets/topica_logo.svg" alt='TOPICA'></a>
<!-- 	<object id ="brand-logo"type="image/svg+xml" data="/assets/topica_logo.svg">Your browser does not support SVG</object> -->
</header>


	<%- body %>

<a href='https://github.com/sepowitz/project-two' target="_blank"><img class='github-logo 'src="/assets/GitHub-Mark-64px.png"></a>
</body>
</html>