/********* RESETS *********/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Slab', serif;
	background: #858585;
	position: relative;
}

/********* GLOBAL STYLES *********/

header {
	width: 100%;
	background: black;
	padding: 4%;
}

object {
	border: solid 1px white;
	padding: 20px;
	position: absolute;

}

object:hover {
	border: solid 2px white;
	padding: 25px;
	transition: 1s;
}

#brand-logo {
	width: 20%;
}

/********* Not sure what to call this yet *********/


#logout {
	position: fixed;
	top: 5%;
	left: 90%;
	font-size: .75rem;
	border-bottom: solid 1px white;
	padding: 0 5px 5px 2px;
	font-weight: lighter;
	font-style: italic;
	color: white;
	border-radius: 5%
}


/********* SIGN UP  *********/

#sign-up {
	width: 400px;
	padding: 50px 50px 50px 50px;
	margin: 0 auto;
	background: white;
	margin-top: 10%;
}

#sign-up-button {
	display: inline-block;
	margin-left: 30%;
	padding: 5px;
	font-size: .8em;
	text-transform: uppercase;
}

#sign-up-button:hover{
	font-weight: bold;
}

#sign-up-button a {
	text-decoration: none;
	color: black;
	transition: 1s ease;
}

#sign-up-button a:hover {
	font-size: 14px;
	border-bottom: solid 1px;
}

/********* GLOBAL FORM STYLES *********/

label {
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .1em;
}

input[type="text"], input[type="password"] {
	display: block;
	margin: 10px 0 20px 0;
	border: solid 1px gray;
	height: 40px;
	width: 300px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 1em;
	font-family: inherit;
	font-weight: lighter;
}

input[type="text"]:focus {
	border: none;
}

input[type="submit"] {
	display: inline-block;
	margin: 10px 0 20px 0;
	height: 40px;
	width: 30%;
	border-radius: 5px;
	font-size: 1em;
	text-align: center;
	background: black;
	color: white;
	font-family: inherit;
}

input[type="submit"]:hover {
	transition: 1s;
	background: #019BD1;
	color: white;
	font-family: inherit;
}

/********* Current User Greeting *********/
#welcome-user {
	display: inline-block;
	position: fixed;
	top: 10%;
	left: 75%;
	text-transform: capitalize;
	font-weight: lighter;
	letter-spacing: .3em;
	color: white;
}

#welcome-user span {
	font-weight: bolder;
	letter-spacing: .2em;
}


/********* TOPIC INDEX *********/

#topic-grid {
	width: 50%;
	margin: 10%	auto;
	text-align: center;
	position: relative;
}

#topic-grid ul {
display: inline-block;
}

#topic-grid ul li {
font-family: 'Roboto', serif;
display: inline-block;
margin: 5% 2%;
background: white;
text-align: left;
padding: 5px 10px 5px 10px;
font-weight: lighter;
color: black;
text-transform: uppercase;
box-shadow: 1px 1px 2px #E8E8E8;
transition: .5s;
}


#topic-grid ul li:hover {
background: black;
color: white;
box-shadow: 1px 1px 5px black;
}

.topic-count {
	text-align: right;
	margin-left:10px;
	color: #b2b2b2;
	font-weight: 800;
	padding-left: 10px;
	display: inline-block;
}

#add-topic-button {
font-family: 'Roboto', serif;
display: inline-block;
margin: 5% 2%;
width: 150px;
background:none;
border: solid 1px white;
text-align: left;
color: white !important;
padding: 5px 10px 5px 10px;
font-weight: lighter;
text-transform: uppercase;
}

.plus-sign {
	text-align: right;
	margin-left:10px;
	color: white;
	font-weight: 800;
	padding-left: 10px;
	display: inline-block;
}

#add-topic-button:hover {
background: black !important;
border: solid 1px black;

}


/********* NEW TOPIC *********/

#add-topic {
	width: 400px;
	padding: 50px 50px 50px 50px;
	margin: 0 auto;
	margin-top: 10%;
}

#add-topic input[type='submit'] {
	width: 300px;
}

a {
 text-decoration: none;
}


/********* SHOW TOPIC *********/



/* Topic header */

#show-topic {
	margin-top: 5%;
	margin-left: 40%;
	width: 20%;
	text-align: center;
}

h1:first-child {
	color: white;
}

/* Post display */
.post {
	width: 80%;
	margin: 50px auto;
	background: white;
}

.attribution {
	display: inline-block;
	width: 90%;
	float: left;
	line-height: 2em;
	padding: 20px;
}

.attribution h4 {
	font-size: 1.5em;
	text-transform: capitalize;
}

.vote {
	display: inline-block;
	width: 10%;
	padding-right: 5px;
}

.vote form input[type='submit']{
	width: 100%;
	padding: 0;
	margin-bottom: 2px;
}

.post-content {
	padding: 20px;
	line-height: 1.5em;
}

/********* ADD POST *********/

#add-post {
	width: 50%;
	margin: 100px auto;


}
#add-post textarea {
	display: block;
	padding: 10px;
	width: 100%;
	height: 200px;
}
