/********* Resets *********/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Slab', serif;
	background: #858585;
	position: relative;
}

/********* Global Styles *********/

header {
	width: 100%;
	background: black;
	padding: 4%;
}

object {
	border: solid 1px white;
	padding: 20px;
	position: absolute;

}

object:hover {
	border: solid 2px white;
	padding: 25px;
	transition: 1s;
}

#brand-logo {
	width: 20%;
}

/********* Not sure what to call this yet *********/


#logout {
	position: fixed;
	top: 5%;
	left: 90%;
	font-size: .75rem;
	border-bottom: solid 1px white;
	padding: 0 5px 5px 2px;
	font-weight: lighter;
	font-style: italic;
	color: white;
	border-radius: 5%
}


/********* Sign up  *********/

#sign-up {
	width: 400px;
	padding: 50px 50px 50px 50px;
	margin: 0 auto;
	background: white;
	margin-top: 10%;
}

#sign-up-button {
	display: inline-block;
	margin-left: 30%;
	border-bottom: solid 1px;
	padding: 5px;
	font-size: .8em;
	text-transform: uppercase;
}


/********* Global form styles *********/

label {
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .1em;
}

input[type="text"], input[type="password"] {
	display: block;
	margin: 10px 0 20px 0;
	border: solid 1px gray;
	height: 40px;
	width: 300px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 1em;
	font-family: inherit;
	font-weight: lighter;
}

input[type="text"]:focus {
	border: none;
}

input[type="submit"] {
	display: inline-block;
	margin: 10px 0 20px 0;
	border: solid 1px #A6FEFF;
	height: 40px;
	width: 30%;
	border-radius: 5px;
	font-size: 1em;
	text-align: center;
	background: white;
	color: #A6FEFF;
	font-family: inherit;
}

input[type="submit"]:hover {
	transition: 1s;
	background: #A6FEFF;
	color: white;
	font-family: inherit;
}


/********* Current User Greeting *********/
#welcome-user {
	display: inline-block;
	position: fixed;
	top: 10%;
	left: 75%;
	text-transform: capitalize;
	font-weight: lighter;
	letter-spacing: .3em;
	color: white;
}

#welcome-user span {
	font-weight: bolder;
	letter-spacing: .2em;
}


/********* Topic index *********/

#topic-grid {
	width: 50%;
	margin: 10%	auto;
	text-align: center;
	position: relative;
}

#topic-grid ul {
display: inline-block;
}

#add-topic-button {
font-family: 'Roboto', serif;
display: inline-block;
margin: 5% 2%;
background:none!important;
text-align: left;
padding: 5px 10px 5px 10px;
font-weight: lighter;
color: black !important;
text-transform: uppercase;
box-shadow: 2px 3px 5px gray !important;
}

#topic-grid ul li {
font-family: 'Roboto', serif;
display: inline-block;
margin: 5% 2%;
background: white;
text-align: left;
padding: 5px 10px 5px 10px;
font-weight: lighter;
color: black;
text-transform: uppercase;
box-shadow: 1px 1px 2px #E8E8E8;
transition: .5s;
}


#topic-grid ul li:hover {
background: black;
color: white;
box-shadow: 1px 1px 5px black;
}

.topic-count {
	text-align: right;
	margin-left:10px;
	color: #b2b2b2;
	font-weight: 800;
	padding-left: 10px;
	display: inline-block;
}

#add-topic-button {
font-family: 'Roboto', serif;
display: inline-block;
margin: 5% 2%;
background:none;
border: solid 1px white;
text-align: left;
color: white !important;
padding: 5px 10px 5px 10px;
font-weight: lighter;
text-transform: uppercase;
}

.plus-sign {
	text-align: right;
	margin-left:10px;
	color: white;
	font-weight: 800;
	padding-left: 10px;
	display: inline-block;
}

#add-topic-button:hover {
background: black !important;
border: solid 1px black;

}







