/********* Resets *********/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Slab', serif;
	background: #f6f6f6;
	position: relative;
}

/********* Global Styles *********/

header {
	width: 100%;
	background: #A6FEFF;
	padding: 4%;
}

object {
	border: solid 1px white;
	padding: 20px;
	position: absolute;

}

object:hover {
	border: solid 2px white;
	padding: 25px;
	transition: 1s;
}

#brand-logo {
	width: 20%;
}

/********* Not sure what to call this yet *********/

#welcome-user {
	display: inline-block;
	position: absolute;
	top: 22%;
	left: 75%;
	text-transform: capitalize;
	font-weight: lighter;
	letter-spacing: .3em;
}

#welcome-user span {
	font-weight: bolder;
	letter-spacing: .2em;
}

#logout {
	position: absolute;
	top: 2%;
	left: 90%;
	font-size: .75rem;
	border-bottom: solid 1px white;
	padding: 0 5px 5px 2px;
	font-weight: lighter;
	font-style: italic;
	color: white;
	border-radius: 5%
}


/********* Sign up  *********/

#sign-up {
	width: 400px;
	padding: 50px 50px 50px 50px;
	margin: 0 auto;
	background: white;
	margin-top: 10%;
}

#sign-up-button {
	display: inline-block;
	margin-left: 30%;
	border-bottom: solid 1px;
	padding: 5px;
	font-size: .8em;
	text-transform: uppercase;
}


/********* Global form styles *********/

label {
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .1em;
}

input[type="text"], input[type="password"] {
	display: block;
	margin: 10px 0 20px 0;
	border: solid 1px gray;
	height: 40px;
	width: 300px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 1em;
	font-family: inherit;
	font-weight: lighter;
}

input[type="text"]:focus {
	border: none;
}

input[type="submit"] {
	display: inline-block;
	margin: 10px 0 20px 0;
	border: solid 1px #A6FEFF;
	height: 40px;
	width: 30%;
	border-radius: 5px;
	font-size: 1em;
	text-align: center;
	background: white;
	color: #A6FEFF;
	font-family: inherit;
}

input[type="submit"]:hover {
	transition: 1s;
	background: #A6FEFF;
	color: white;
	font-family: inherit;
}



