
<div id="sign-up">
	<form action ='/users/login' method='post'>
		<label>username</label>
		<input  type = "text"
				 		name = "user[username]"
				 		placeholder = "Enter your username">
		<label>password</label>
		<input  type = "password"
				 		name = "user[password]"
				 		placeholder = "Enter your password">
		<input type="submit" value="log in">
		<span id="sign-up-button"><a href='/users/new'>sign up</a></span>
	</form>
</div>

