
<div id="sign-up">
	<form>
		<label>username</label>
		<input  type = "text"
				 		name = "user[name]"
				 		placeholder = "Choose a username">
		<label>password</label>
		<input  type = "password"
				 		name = "user[name]"
				 		placeholder = "Choose a password">
		<input type="submit">
		<span id="to-log-in"> log in</span>
	</form>
</div>

