
<div id="sign-up">
	<form action ='/users' method='post'>
		<label>username</label>
		<input  type = "text"
				 		name = "user[username]"
				 		placeholder = "Choose a username">
		<label>password</label>
		<input  type = "password"
				 		name = "user[password]"
				 		placeholder = "Choose a password">
		<input type="submit" value="sign up">
		<span id="sign-up-button"><a href='/users/login'>log in</a></span>
	</form>
</div>

