<h6 id="logout">log out</h6>
<h5 id="welcome-user">watup, <span> <%= currentUser.username %></span> </h5>

<div id="topic-grid">
	<ul>
		<a href='/new'<li id="add-topic-button">add a topic<span class='plus-sign'>+</span></li></a>
		<% topic.forEach(function(topic, i) {%>
		<li><%=topic.topic%><span class='topic-count'><%= topic.posts.length %></span></li>
		<%})%>
	</ul>
</div> 
