<a href='users/logout'><h6 id="logout">log out</h6></a>
<h5 id="welcome-user">watup, <a href='/users/<%=currentUser.username%>/posts'><span class='current-user'> <%= currentUser.username %></span></a></h5>

<div id="add-topic">
	<form action ='/' method='post'>
		<label>add a topic</label>
		<input  type = "text"
				 		name = "topic[topic]"
				 		placeholder = "what would you like to talk about?">
		<label>description</label>
		<input  type = "text"
				 		name = "topic[description]"
				 		placeholder = "give us a brief description">
		<input type="submit" value="add topic">
	</form>
</div>
